<%- include('../partials/header', {cim: cim}); %>

<div id="content">

<%- include('../partials/menu', {}); %>
  
  <article class="article">
  <%- body %>
  </article>
  
<%- include('../partials/aside', {}); %>

</div>

<%- include('../partials/footer', {}); %>