<%- include('partials/header', {}); %>

<div id="content">

  <%- include('partials/menu'); %>
  
  <article class="article">
  <%= tartalom %>
  </article>
  
  <%- include('partials/aside'); %>

</div>

<%- include('partials/footer', {}); %>