<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <title><%= cim %></title>
</head>
<body>
        <!-- <p><%= tartalom[0] %></p>
        <p><%= tartalom[1] %></p>
        <p><%= tartalom[2] %></p> -->
        Fruits: <%= tartalom.join(', ') %> <br>
        Order: <%= sorrend %>
</body>
</html>
